@tailwind base;
@tailwind components;
@tailwind utilities;


body::before {
	--line: hsl(0 0% 5% / 0.25);
	--size: 60px;
	content: "";
	height: 100vh;
	width: 100vw;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(--size) var(--size);
	mask: linear-gradient(150deg, transparent 30%, green);
	top: 0;
	z-index: -1;
}

::selection {
  background-color: rgba(124, 58, 237, 0.15);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.navbar > svg {
	width: 64px;
	height: 64px
}

.navbar > svg > g {
	fill: #a855f7
}

section {
	height: 100vh;
}

.slick-slide {
	transform: scale(0.9);
	transition: transform 500ms;
}

.slick-current {
	transform: scale(1.1);
}

@media only screen and (max-width: 640px) {
	.mapped-slide {
		width: unset !important;
	}
	.slick-current {
		transform: scale(0.9);
	}
}

.backdrop  {
	-webkit-tap-highlight-color: transparent;
}


